h1 {
    color: gray;
}
.images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.images > img {
    height: 200px;
    width: 310px;
    border-radius: 10px;
    overflow: hidden;
}

h5 {
    margin-top: 40px;
}
